# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
*.log

# Build artifacts
dist/
build/

# Other system files
.DS_Store

event-master/src/EventDetails.jsx
event-master/src/NavBar.jsx
event-master/src/MoreInfo.jsx
